<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta name='charset' content="utf-8" />
        <title>Email Confirmation</title>

        <style>
            .container {
                padding: 2em;
            }

            .btn {
                padding: 0.5em 1em;
                text-decoration: none;
                border-radius: 10px;
                cursor: pointer;
            }

            .btn__md {
                padding: 1em 2em;
            }

            .btn__primary {
                background-color: dodgerblue;
                color: #FFF !important;
            }
        </style>
    </head>

    <body>
        <table>
            <tbody>
                <tr>
                    <h4>Hello!</h4>

                    <table>
                        <tbody>
                            <tr>
                                <p>Please click the button below to verify your email.</p>

                                <a
                                    href="{{confirmationLink}}"
                                    class="btn btn__primary btn__md"
                                >
                                    Verify
                                </a>
                            </tr>
                        </tbody>
                    </table>

                    <br />

                    <table>
                        <tbody>
                            <tr>
                                <p>Warm regards,</p>
                                <p style="font-weight: 600">The LMS Team</p>
                            </tr>
                        </tbody>
                    </table>
                </tr>
            </tbody>
        </table>
    </body>
</html>
